<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/style.css">
    <title>Document</title>
    <script src="https://kit.fontawesome.com/b440ddf63b.js" crossorigin="anonymous"></script>
</head>
<body>
    <h1>Ya letus start bro</h1>

<!-- =================================main list================================= -->
    <div id="mylist">
        <div class="buttons">
            <a href="#"><i class="fa-solid fa-newspaper"><br><p> Articals</p></i></a>
            <a href="#"><i class="fa-solid fa-handshake-angle"><br><p> H.O.D</p></i></a>
            <a href="#"><i class="fa-solid fa-circle-question"><br><p> Whay?</p></i></a>
            <a href="#"><i class="fa-solid fa-fire"><br><p>Hot News</p></i></a>
            <a href="#"><i class="fa-solid fa-table-list"><br><p>List of 10</p></i></a>
            <a href="#"><i class="fa-solid fa-mountain-sun"><br><p>Travel</p></i></a>
            <a href="#"><i class="fa-solid fa-person-rays"><br><p>Personal Stories</p></i></a>
            <a href="#"><i class="fa-solid fa-truck-fast"><br><p>Product Rreviews</p></i></a>
            <a href="#"><i class="fa-solid fa-code-pull-request"><br><p>Guest<br>Postes</p></i></a>
            

        </div>
    </div>
</body>
</html>